# Jupyter Refactoring for Beginners

<img src="../assets/Title.png" width="800">

## Workshop structure

- [Introduction](#Introduction)
- [Why Refactoring is needed](#Why-Refactoring-is-needed)
- [How to refactor your code (prerequisites)](#How-to-refactor-your-code-(prerequisites))
- [How to write cleaner and more efficient code in Pythonic way](#How-to-write-cleaner-and-more-efficient-code-in-Pythonic-way)
- [Bonus](#Bonus)
- [Q&A time](#Q&A-time)

## Introduction

### About me
**Alyona Galyeva**: [Principal Data Solutions Engineer at LINKIT](https://www.linkit.nl/en) and [Organiser at PyLadies Amsterdam](https://amsterdam.pyladies.com/)

<img src="../assets/PyLadies1.jpg" width="800">  

<img src="../assets/PyLadies2.jpg" width="800">  

<img src="../assets/PyLadies3.jpg" width="800"> 

Feel free to contact me via LinkedIn: https://www.linkedin.com/in/alyonagalyeva/

## Why Refactoring is needed

![Awesome script](https://chezsoi.org/lucas/blog/images/wwcb/Ill_just_write_a_quick_script...-catacrac.net.png)

### Welcome to the land of Spaghetti code and Big Ball of Mud

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import ipytest
import pytest

ipytest.autoconfig()
pd.set_option("display.max_columns", None)

In [ ]:
# DO NOT REPEAT THIS AT HOME !!! IT IS DANGEROUS AND CONTAGIOUS !!!
file = "/Users/alyonagalyeva/tutorials/WIP/Jupyter-refactoring-beginner-jul2020/workshop/data/Boston_housing_prices.csv"
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df=pd.read_csv(file, delim_whitespace=True, names=names)

In [ ]:
df.head()

In [ ]:
df1=df[df['CHAS'] > 0]

In [ ]:
df1.head()

In [ ]:
df2=df[df['AGE']==45.8]

In [ ]:
df2.head()

In [ ]:
df3=df.rename(str.lower, axis='columns')

In [ ]:
df3.head()

In [ ]:
# Hoerra, we have a function !!!
def twicecol(df, dfcol):
    df['twicecol'] = df[dfcol] * df[dfcol]
    return df

In [ ]:
df4=twicecol(df3, 'nox')
df4.head()

In [ ]:
# Oops, we mutated original dataframe df3, how it is even possible?
df3.head()

### "Refactoring is an essential technique to allow a program to be changed safely. It consists of making small changes that don't alter the observable behavior of the software. " - *Martin Fowler*

**So, why do we need Refactoring?**

- to understand the code
- to improve the readability of code
- to make it easier to enhance the code
- to reduce time of bug hunting

**What is Technical Debt?**

1. It's a metaphor to describe problems with code design
2. It's a lot of shortcuts taken for various reasons
3. We borrow against future
4. It needs to be paid off with refactoring

**When to stop Refactoring?**

- Stop when your refactoring step becomes too big
- Stop when there is no ROI

## How to refactor your code (prerequisites)

### The art of Recognizing Issues in your code

how comments can help or badly hurt you

In [ ]:
# give new names to the columns by renaming the columns and make each columns lowercase, use axis columns 
df3=df.rename(str.lower, axis='columns')

In [ ]:
## Correlation with independent Variable (Note: Models like RF are not linear like these)
df.columns
df2 = df.drop('MEDV', axis=1)
df.corrwith(df['MEDV']).plot.bar(
        figsize = (10, 10), title = "Correlation with MEDV", fontsize = 15,
        rot = 45, grid = True)

confusing names

In [ ]:
# Remember our friends df, df1, df2 and this awesome function?
def twicecol(df, dfcol):
    df['twicecol'] = df[dfcol] * df[dfcol]
    return df

magic numbers

In [ ]:
# Somewhere in notebook
val = 6

# later somewhere at the end of the notebook
grouped = df.groupby('TAX').agg([np.sum, np.mean, np.std])

if val > 6:
    print(grouped.head())
else:
    print(df.head())

duplication and large code blocks are dangerous

In [ ]:
#Define X and y
X = df2
y = df.loc[:,'MEDV']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### Model Building ####
### Comparing Models

## Multiple Linear Regression Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting Test Set
y_pred = regressor.predict(X_test)
from sklearn import metrics
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
r2 = metrics.r2_score(y_test, y_pred)

results = pd.DataFrame([['Multiple Linear Regression', mae, mse, rmse, r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'R2 Score'])

## Suport Vector Regression 
'Necessary Standard Scaler '
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

# Predicting Test Set
y_pred = regressor.predict(X_test)
from sklearn import metrics
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
r2 = metrics.r2_score(y_test, y_pred)

model_results = pd.DataFrame([['Support Vector RBF', mae, mse, rmse, r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'R2 Score'])

results = results.append(model_results, ignore_index = True)

## Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X_train, y_train)

# Predicting Test Set
y_pred = regressor.predict(X_test)
from sklearn import metrics
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
r2 = metrics.r2_score(y_test, y_pred)

model_results = pd.DataFrame([['Decision Tree Regression', mae, mse, rmse, r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'R2 Score'])

results = results.append(model_results, ignore_index = True)

poor formatting

In [ ]:
fig=plt.figure( figsize=(10, 10) ); plt.suptitle( 'Histograms', fontsize=20 )
for i in range(df2.shape[1]):
    plt.subplot( 6,3,i+1);f = plt.gca();f.set_title(df2.columns.values[i])

    vals = np.size(df2.iloc[:, i].unique())
    if vals>=100: vals=100
    
    plt.hist(df2.iloc[:, i], bins=vals, color='#3F5D7D')
plt.tight_layout(rect=[0, 0.03, 1, 0.95])

zombie code

In [ ]:
#grid_sv = GridSearchCV(desc_tr, cv=kf, param_grid={"max_depth" : [1, 2, 3, 4, 5, 6, 7]}, scoring='neg_mean_squared_error')
#grid_sv.fit(x_scaled, y)
#print("Best classifier :", grid_sv.best_estimator_)

#grid_sv = GridSearchCV(knn, cv=kf, param_grid={"n_neighbors" : [2, 3, 4, 5, 6, 7]}, scoring='neg_mean_squared_error')
#grid_sv.fit(x_scaled, y)
#print("Best classifier :", grid_sv.best_estimator_)

## How to write cleaner and more efficient code in Pythonic way

### Typical refactoring workflow

- answer why refactoring is needed in this particular situation
- git, conda environment (or venv) are your best friends
- make a copy of a notebook you are going to refactor
- fix the seed
- define a layout for your refactored notebook
- pick a chunk of code to refactor
- if you created a function, write tests for this function, run tests. If success --> git commit
- else update your function to make the tests pass --> git commit
- repeat

### Are you ready to roll up the sleeves and start hands-on part together with me?

### Refactoring techniques

#### Rename

Let's take a look at the most powerful and widely used refactoring technique: **Rename**

What we can **Rename**:

a variable, a function, function parameters, a class, class attributes and methods

In [7]:
x = ("data/movies_metadata.csv")
df = pd.read_csv(x)
df1 = df[df["budget"] > 0]

#rename variables 
filepath = ("data/movies_metadata.csv")
movies = pd.read_csv(filepath)
movies_big_budget = df[df["budget"] > 30000000]

/usr/local/Caskroom/miniconda/base/envs/jupyter-refactoring/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
def my_func(a, b):
    return a.lower() + b.upper()

#Rename function and its parameters 
def mix_lower_upper_case(first_param, second_param):
    return first_param.lower() + second_param.upper()

#We can add type hints for readability purposes
def mix_lower_upper_case(first_param: str, second_param: str) -> str:
    """ Concatenate two strings, cast the first string to lowercase and the second string to uppercase"""
    return first_param.lower() + second_param.upper()

# Add casting to a str to make sure that the function returns what expected
def mix_lower_upper_case(first_param: str, second_param: str) -> str:
    """ Concatenate two strings, cast the first string to lowercase and the second string to uppercase"""
    return str(first_param).lower() + str(second_param).upper()

**Exercise 1:**

Rename a function, add docstring, type hints

def refactor_me(x, y, z):
    return 2*x+y+z**2

#### Extract

Let's try another refactoring technique: **Extract**

What we can **Extract**:

a variable, a function, a class

In [8]:
movies_valid_budget = movies.loc[movies["budget"] != 0]

# extract a variable
valid_budget = movies["budget"] != 0
movies_valid_budget = movies.loc[valid_budget]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,FALSE,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.67728,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",12/15/1995,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0

Let's extract a function, but before this we need to add tests

In [9]:
%%run_pytest[clean] -vv
   
def test_say_hello_success():
    assert say_hello() == "Hello Again"

def test_say_hello_failure():
    assert say_hello() == "hello Again"

    
# a function to be tested
def say_hello():
    return "Hello Again"

==================================== test session starts ====================================
platform darwin -- Python 3.8.3, pytest-5.4.3, py-1.9.0, pluggy-0.13.1 -- /usr/local/Caskroom/miniconda/base/envs/jupyter-refactoring/bin/python
cachedir: .pytest_cache
rootdir: /Users/alyonagalyeva/tutorials/WIP/Jupyter-refactoring-beginner-jul2020/workshop
collecting ... collected 2 items

tmpxqqd1um7.py::test_say_hello_success PASSED                                         [ 50%]
tmpxqqd1um7.py::test_say_hello_failure FAILED                                         [100%]

========================================= FAILURES ==========================================
__________________________________ test_say_hello_failure ___________________________________

    def test_say_hello_failure():
>       assert say_hello() == "hello Again"
E       AssertionError: assert 'Hello Again' == 'hello Again'
E         - hello Again
E         ? ^
E         + Hello Again
E         ? ^

<ipython-input-9-3c6bb66c317e>:5: AssertionError
================================== short test summary info ==================================
FAILED tmpxqqd1um7.py::test_say_hello_failure - AssertionError: assert 'Hello Again' == 'h...
================================ 1 failed, 1 passed in 0.04s ================================

In [12]:
%%run_pytest[clean] -vv

def test_multiply_by_2():
    input_df = pd.DataFrame([(1, 2), (2, 8)], columns=["A", "B"])
    test_df = multiply_column(input_df, "B", 2)
    expected_df = pd.Series([50,200], name="B")
    pd.testing.assert_series_equal(test_df, expected_df)

def test_multiply_by_min1():
    input_df = pd.DataFrame([(1, 2), (2, 8)], columns=["A", "B"])
    test_df = multiply_column(input_df, "A", -1)
    expected_df = pd.Series([25,50], name="A")
    pd.testing.assert_series_equal(test_df, expected_df)
   

def multiply_column(df: pd.DataFrame, column_name: str, multiplyer: int) -> pd.DataFrame:
    df = df.copy()
    updated_df = df[column_name] * 25
    return updated_df

==================================== test session starts ====================================
platform darwin -- Python 3.8.3, pytest-5.4.3, py-1.9.0, pluggy-0.13.1 -- /usr/local/Caskroom/miniconda/base/envs/jupyter-refactoring/bin/python
cachedir: .pytest_cache
rootdir: /Users/alyonagalyeva/tutorials/WIP/Jupyter-refactoring-beginner-jul2020/workshop
collecting ... collected 2 items

tmpuj3swmpb.py::test_multiply_by_2 PASSED                                             [ 50%]
tmpuj3swmpb.py::test_multiply_by_min1 PASSED                                          [100%]

===================================== 2 passed in 0.02s =====================================

**Exercise 2:**

Extract a function and 3 tests for the following lines below

In [11]:
#clean_movie_data_df = movie_data_df.loc[movie_data_df["budget"] != 0  ]
#clean_movie_data_df = clean_movie_data_df.loc[clean_movie_data_df["revenue"] != 0  ]

#### Inline

Let's move to another refactoring technique: **Inline**

What we can **Inline**:

a variable, a function, a class

**Exercise 3:**

## Bonus

### Future readings

- [Jupyter Notebook Refactoring Series - Part 1](https://itnext.io/jupyter-notebook-refactoring-series-part-1-adff1b44dfdb)
- [Jupyter Notebook Refactoring Series - Part 2](https://itnext.io/jupyter-notebook-refactoring-series-part-2-899e40163ead)
- [Refactoring catalogue](https://refactoring.com/catalog/)
- [Refactoring techniques](https://refactoring.guru/refactoring/techniques)

- [Data Science Workflow](https://towardsdatascience.com/the-data-science-workflow-43859db0415)
- [Structure and Automated Workflow for Data Science Project - Part1](https://towardsdatascience.com/structure-and-automated-workflow-for-a-machine-learning-project-2fa30d661c1e)
- [Structure and Automated Workflow for Data Science Project - Part2](https://towardsdatascience.com/structure-and-automated-workflow-for-a-machine-learning-project-part-2-b5b420625102)
- [Integrate Unit Testing, Linting and CI into your Python project](https://www.earthdatascience.org/blog/unit-testing-linting-ci-python/)

### Useful links

- [Reproducible Data Analysis in Jupyter](https://youtu.be/_ZEWDGpM-vM)
- [Clean code for ML projects](https://github.com/davified/clean-code-ml)

## Q&A time

### Thank you for your time !!!