# Jupyter Refactoring for Beginners

<img src="../assets/Title.png" width="800">

## Workshop structure

- [Introduction](#Introduction)
- [Why Refactoring is needed](#Why-Refactoring-is-needed)
- [How to refactor your code (prerequisites)](#How-to-refactor-your-code-(prerequisites))
- [How to write cleaner and more efficient code in Pythonic way](#How-to-write-cleaner-and-more-efficient-code-in-Pythonic-way)
- [Bonus](#Bonus)
- [Q&A time](#Q&A-time)

## Introduction

### About me
**Alyona Galyeva**: [Principal Data Solutions Engineer at LINKIT](https://www.linkit.nl/en) and [Organiser at PyLadies Amsterdam](https://amsterdam.pyladies.com/)

<img src="../assets/PyLadies1.jpg" width="800">  

<img src="../assets/PyLadies2.jpg" width="800">  

<img src="../assets/PyLadies3.jpg" width="800"> 

Feel free to contact me via LinkedIn: https://www.linkedin.com/in/alyonagalyeva/

## Why Refactoring is needed

![Awesome script](https://chezsoi.org/lucas/blog/images/wwcb/Ill_just_write_a_quick_script...-catacrac.net.png)

### Welcome to the land of Spaghetti code and Big Ball of Mud

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
# DO NOT REPEAT THIS AT HOME !!! IT IS DANGEROUS AND CONTAGIOUS !!!
file = "/Users/alyonagalyeva/tutorials/WIP/Jupyter-refactoring-beginner-jul2020/workshop/data/Boston_housing_prices.csv"
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df=pd.read_csv(file, delim_whitespace=True, names=names)

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
df1=df[df['CHAS'] > 0]

In [6]:
df1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403.0,14.7,396.90,26.82,13.4
152,1.12658,0.0,19.58,1,0.871,5.012,88.0,1.6102,5,403.0,14.7,343.28,12.12,15.3
154,1.41385,0.0,19.58,1,0.871,6.129,96.0,1.7494,5,403.0,14.7,321.02,15.12,17.0
155,3.53501,0.0,19.58,1,0.871,6.152,82.6,1.7455,5,403.0,14.7,88.01,15.02,15.6
160,1.27346,0.0,19.58,1,0.605,6.250,92.6,1.7984,5,403.0,14.7,338.92,5.50,27.0

In [7]:
df2=df[df['AGE']==45.8]

In [8]:
df2.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
77,0.08707,0.0,12.83,0,0.437,6.140,45.8,4.0905,5,398.0,18.7,386.96,10.27,20.8

In [9]:
df3=df.rename(str.lower, axis='columns')

In [10]:
df3.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [24]:
# Hoerra, we have a function !!!
def twicecol(df, dfcol):
    df['twicecol'] = df[dfcol] * df[dfcol]
    return df

In [25]:
df4=twicecol(df3, 'nox')
df4.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,twicecol
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,0.289444
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,0.219961
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,0.219961
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,0.209764
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,0.209764

In [26]:
# Oops, we mutated original dataframe df3, how it is even possible?
df3.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,twicecol
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,0.289444
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,0.219961
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,0.219961
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,0.209764
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,0.209764

### "Refactoring is the process of changing a software system in such a way that it does not alter the external behaviour of the code yet improves its internal structure" - *Martin Fowler*

**So, why do we need Refactoring?**

- to understand the code
- to improve the readability of code
- to make it easier to enhance the code
- to reduce time of bug hunting

**What is Technical Debt?**

1. It's a metaphor to describe problems with code design
2. It's a lot of shortcuts taken for various reasons
3. We borrow against future
4. It needs to be paid off with refactoring

**When to stop Refactoring?**

- Stop when your refactoring step becomes too big
- Stop when there is no ROI

**Main Refactoring Techniques:**
- Rename
- Extract
- Move
- Inline

## How to refactor your code (prerequisites)

### The art of Recognizing Issues in your code

how comments can help or badly hurt you

In [23]:
# give new names to the columns by renaming the columns and make each columns lowercase, use axis columns 
df3=df.rename(str.lower, axis='columns')

if df4[]

confusing names

overusing conditionals

large code blocks are dangerous

duplication

negative logic

poor formatting

zombie code

### What to do

- define a goal 
- use git
- use venv or conda env
- copy original notebook
- fix the seed 
- choose an appropriate refactoring technique
- start with a small chunk of code
- add tests
- git commit
- increment again

## How to write cleaner and more efficient code in Pythonic way

So, it is time to roll your sleeves and start our refactoring journey.

## Bonus

### Future readings

### Useful links

## Q&A time

### Thank you for your time !!!